#ourTech {
    background-color: #262626;
}

.half-big-text {
    color: white
}

.profile-content p{
    color: white
}

.profile-content p b{
    color: red;
}

.panel{
    height: 400px;
    display: flex;
    flex-direction: row;
    background-color: #262626;
    width: 100%;
}

.panel3div {
width: 50%
}

.imgWidth2 img{
    height: 80%;
    width: 100%;
    filter: blur(5px)
}

.imgWidth2 img:hover { filter: blur(0px); transition-duration: 3s }

